@media screen and (max-width:991px) {
    .l-contact {
        width: 40%;
    }

    .r-contact {
        width: 55%;
    }
}



@media screen and (max-width:768px) {
    .l-contact {
        width: 100%;
    }
    .container-cart{
        margin-inline: 20px;
        margin-bottom: 7px;
    }
    .contact-list {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 12px;
        align-items: center;
        /* gap: 20px; */
    }

    .contact-list li {
        width: 45%;
    }

    .r-contact {
        width: 100%;
    }

    .contact-container {
        flex-direction: column-reverse;
    }


    .blog-article {
        flex-direction: column;
    }

    .blog-left,
    .blog-right {
        padding-inline: 30px;
        width: 100%;
    }

    .blog-article h1 {
        top: -9px;
        right: 2px;
    }

    .nav-bar {
        overflow: initial;
    }

    header {
        overflow: initial;
    }

    .nav-links {
        position: absolute;
        top: 0;
        right: -100%;
        width: 80%;
        flex-direction: column;
        background-color: var(--neutral-color-1);
        padding-block: 10%;
        height: 100vh;
        justify-content: center;
        transition: right 0.25s ease-in-out;

    }

    #close-menu-btn {
        display: block;
        align-self: flex-start !important;
        justify-self: flex-start !important;
        color: red;
        font-size: xx-large;
    }

    #hamburger {
        display: block;
        background-color: var(--primary-color);
        padding-inline: 20px;
        color: white;
        padding-block: 5px;
        border-radius: 4px;
    }

    .hover-links a {
        color: white;
    }

    .nav-links.active {
        right: 0;
    }

    #h2-banner {

        font-size: 1.3rem;
    }

    .h1-banner {
        font-size: 2rem;
    }

    .p-banner {
        width: 100%;
        font-size: 1rem;
    }

    .cat-container {
        flex-direction: column;
    }

    .man-cat,
    .woman-cat {
        width: 100%;
        height: 50vh;


    }

    .man-cat {
        background-image: url(https://media.istockphoto.com/id/611630764/photo/handsome-guy-is-evincing-his-confidence.jpg?s=612x612&w=0&k=20&c=8ABQ7aPWnqye-3C_XvLSUy2kn7b6nmAE2ftKn7-2Z6E=);
    }

    .woman-cat a,
    .man-cat a {
        padding-right: 15%;
        padding-top: 20%;
        font-size: larger;
    }

    .call-to-action {
        flex-direction: column;
    }

    .l-call,
    .r-call {
        width: 100%;
        padding-block: 40px;
    }

    .r-call {
        align-items: flex-end;
        text-align: right;
        padding-inline-end: 30px;
    }

    .call-parah {
        width: 90%;
    }

    .pr-details-container {
        padding-block: 20px;
        /* background-color: #d2d1d1; */
        flex-direction: column;
        width: 100%;

    }

    footer {
        border-top: 1px solid rgb(82, 80, 80);
    }

}

@media screen and (max-width:647px) {
    .video-content {

        padding-top: 5%;
    }

    #blog-detail {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@media screen and (max-width:532px) {
    .container-cart{
        flex-direction: column;
        align-items: flex-start;
    }
    .blog-left {
        padding-bottom: 12px;
    }

    #myBtn {
        display: none;
    }

    #blog-heading {
        padding-top: 70px;
        width: 100%;
        color: #fff;
        font-size: 2rem;
    }
}

@media screen and (max-width:490px) {
    .contact-list {
        flex-direction: column;
        width: 100%;
        padding-block: 30px;
    }

    .contact-list>li {
        width: 100%;

    }

    .blog-left img {
        height: 300px;
    }

    .products-container {
        padding-inline: 30px;
    }

    .products-card-container {
        padding-inline: 30px;
    }

    .pro-card {
        height: fit-content;
    }

    .l-call:hover {
        transform: none;
        scale: 1.2;
        cursor: pointer;
    }

    .r-call:hover {
        cursor: pointer;
        transform: none;
        scale: 1.2;
    }

    .quote-banner h2 {
        font-size: 1.6rem;
    }

    .quote-banner p {
        font-weight: 300;
        width: 100%;
    }

    .call-to-action {
        padding-inline: 10px;
    }

    .l-call {
        padding-inline-end: 10px;
    }

    .call-parah {
        width: 100%;
    }

    .feature-card-container {
        gap: 20px;
    }

    .footer-flex {
        gap: 80px;
    }

    .pro-card {

        width: 100%;

    }

    .nav-bar {
        padding-inline: 20px;
    }
}