@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&family=Poppins:wght@400;700&family=Roboto:wght@300;500;700;900&family=Tsukimi+Rounded:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}

.container {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #005AFF;
    --accent-color-1: #FF584D;
    --accent-color-2: #e4c40a;
    --neutral-color-1: #333333;
    --neutral-color-2: #f1f1f1;
    --neutral-color-3: #b5acac;
    --secondary-color: #088bf0;
    --inline-padding: 30px;
    --cart-color: #03cd82;
}

/* Example background with neutral color */
.info-box {
    background-color: var(--neutral-color-2);
    color: var(--neutral-color-1);
}



/* Body background */
body {
    background-color: var(--neutral-color-2);
}

/* Primary color for headings or links */
h1,
h2,
h3 {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.8rem;
}

/* Accent color for buttons */
.button {
    background-color: var(--accent-color-1);
    color: #fff;
}

/* Accent color hover effect */
.button:hover {
    background-color: var(--accent-color-2);
}

/* Text color with neutral color */
p,
span {
    color: var(--neutral-color-1);
}

p {
    font-weight: 300;
}

/* Example background gradient with primary and accent colors */
.header-banner {
    background: linear-gradient(to bottom right, var(--primary-color), var(--accent-color-2));
}

/* Example border color with primary color */
.product-card {
    border: 1px solid var(--primary-color);
}

/* Example background with accent color */
.feature-box {
    background-color: var(--accent-color-1);
    color: #fff;
}


.primary-btn {
    padding-block: 8px;
    padding-inline: 12px;
    color: #f1f1f1;
    background-color: var(--accent-color-1);
    border: none;
    border-radius: 6px;
}

.container {
    padding-inline: 80px;

}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.flex {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}



/* header */
#logo {
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;


}

#logo span {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.nav-bar {
    overflow: initial;
    padding-block: 10px;
    justify-content: space-between;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.541);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    background-color: #f3f4f8;
}

.hover-links a.active2 {
    color: var(--accent-color-1);
}
.hover-links a {
    position: relative;
    transition: all 0.4s ease-out;
}

.hover-links a:hover::after {

    content: "";
    animation: width 0.5s ease-in-out;
    height: 2px;
    background-color: var(--accent-color-1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
}

@keyframes width {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

#hamburger {
    overflow: initial;
    display: none;
}

.img-logo {
    width: 70px;
}

.hover-links a:hover,
.hover-links2 a:hover {
    color: var(--accent-color-1);
}

.nav-links {
    font-weight: 600;
    transition: color 0.25s ease-out;
}


.nav-links {
    gap: 50px;
}

#close-menu-btn {
    display: none;
}

.header-banner {
    background: #000000d9;

    background-image: url(https://images.unsplash.com/photo-1464666495445-5a33228a808e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njh8fGZhc2hpb24lMjBiYW5uZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    /* background-position: top 10% right 40%; */
    background-repeat: no-repeat;
    height: 100vh;
    background-blend-mode: color-burn;
}

.header-banner-container {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#h2-banner {
    color: #ffffffc4;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px #0000003d;
}

.h1-banner {
    text-shadow: 1px 1px 3px #000000;
}

.p-banner {
    width: 50%;
    font-size: 1.5rem;
    color: #ffffffc8;
    text-shadow: 1px 1px 2px black;
    font-weight: 300;
}

#learn-more-btn {
    font-weight: bold;
    margin-top: 20px;
    position: relative;
    background: transparent;
}

#learn-more-btn::before {
    content: "";
    position: absolute;
    top: -70%;
    left: -30%;
    width: 150%;
    height: 200%;
    background-image: url(https://img.freepik.com/free-vector/abstract-orange-watercolor-brush-stroke_1035-19511.jpg?w=1060&t=st=1686469498~exp=1686470098~hmac=4d463a23db567ce7e74786ccef75460e4ece087847901f0843f7da6dc574d1fd);
    mix-blend-mode: multiply;
    background-size: cover;
}

.down-arr-cat {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: #dad8d8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #4e494957;
    text-align: center;
    font-size: 30px;
}

/* category */
.man-cat,
.woman-cat {
    width: 50%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/flagged/photo-1577788473726-453d0675747f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTQyfHxzZXh5JTIwd29tYW4lMjBibGFja3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}

.man-cat {
    background-image: url(https://images.unsplash.com/photo-1594760047459-09ef16805a7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fG1hbiUyMGluJTIwc3VpdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.woman-cat a,
.man-cat a {
    color: #f1f1f1;
    text-align: right;
    width: 100%;
    padding-right: 15%;
    padding-top: 10%;
    transition: text-decoration 0.3s ease-in-out;
}

.woman-cat a:hover,
.man-cat a:hover {
    text-decoration: underline;
}

.pro-card {
    position: relative;
    flex-direction: column;
    gap: 6px;
    width: 260px;
    height: fit-content;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
    border: 1px solid var(--neutral-color-3);
    border-radius: 6px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.274);

}

.products-card-container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.pro-card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.274);
}

.pro-card img {
    width: 100%;
}

.products-section,
.featured-products-section {
    margin-block: 40px;
    text-align: center;
}

.add-to-cart {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--neutral-color-1);
    border: 1px solid rgb(46, 44, 44);
    color: var(--cart-color);
    align-self: flex-end;
}

.add-to-cart:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.338);
    transform: translateY(-3px);
}

#pr-heading {
    padding-bottom: 30px;
    font-size: 2rem;

}

.pro-card .rating {
    color: var(--accent-color-2);
}

.quote-banner-section {
    background-color: #0000009c;
    margin-block: 80px;
    text-align: center;
    padding-block: 100px;
    background-image: url(https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-blend-mode: color-dodge;
    background-size: cover;

}

.quote-banner h2 {
    font-size: 2.3rem;
    text-decoration: 1px 1px 2px rgba(255, 255, 255, 0.884);
}

.h1-banner {
    color: white;
}

.quote-banner p {
    color: #ffffffdd;
}

/* call to action */
.call-to-action {
    padding-block: 20px;
    margin-block: 60px;
}

.l-call,
.r-call {
    background-color: #0000009e;
    padding-block: 180px;
    width: 50vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding-left: 30px;
    background-image: url(https://images.unsplash.com/photo-1618244972963-dbee1a7edc95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d29tZW4lMjBmYXNoaW9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: center;
    background-blend-mode: darken;


}

.l-call:hover {
    transform: translateX(30px) translateY(-20px);
    scale: 1.2;
    cursor: pointer;
}

.r-call:hover {
    cursor: pointer;
    transform: translateX(-30px) translateY(20px);
    scale: 1.2;
}

.l-call h2,
.r-call h2 {
    color: #fffffffd;
}

.l-call p,
.r-call p {
    color: #ffffffb8;
    font-weight: 300;
}

.r-call {
    background-image: url(https://images.unsplash.com/photo-1614495039368-525273956716?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG1lbiUyMGZhc2hpb258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}

.call-parah {
    width: 50%;
}

.c-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
}

.c-btn:hover {
    background-color: #17cc8a;
    border: none;

}

/* .feature */
.feature-section {
    background-color: #00000089;
    padding-block: 40px;
    text-align: center;
    background-image: url(https://img.freepik.com/free-vector/infographic-template-design_1172-565.jpg?w=740&t=st=1686479354~exp=1686479954~hmac=ad5cf103732e0122621f73854fa5b43c64b69017cb7a48aeb07c87e5befef894);
    background-blend-mode: color-burn;

}

.feature-section h2 {
    color: #fffffffd;
    font-size: 2rem;
    text-shadow: 1px 1px 1px black;
}

.feature-card-container {
    padding-block: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-pro-card {
    height: max-content;
    width: 220px;
    align-items: center;
    background-color: var(--neutral-color-2);

}

.feature-pro-card h3 {
    color: var(--neutral-color-1);
}

.feature-pro-card a {
    border: none;
    border-radius: 0;
    padding-block: 4px;
    background-color: var(--cart-color);
}

.feature-section .feature-card-container .feature-pro-card:nth-child(1) a {
    background-color: red;
}
.feature-section .feature-card-container .feature-pro-card:nth-child(2) a {
    background-color: rgb(181, 181, 10);
}


.feature-section .feature-card-container .feature-pro-card:nth-child(3) a {
    background-color: green;
}

.feature-section .feature-card-container .feature-pro-card:nth-child(4) a {
    background-color: rgb(17, 79, 159);
}

/* footer  */
.footer {
    margin-top: 90px;
    color: #585454;
    padding-bottom: 30px;

}

.foot-head {
    margin-bottom: 40px;
}

footer a {
    color: #333232;
    text-decoration: underline;
}

.footer-flex-line {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-flex {
    justify-content: flex-start;
    gap: 180px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.foot-select {
    background-color: rgba(27, 27, 27, 0.553);
}

#netflix-footer-credit {
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: medium;
}

/* pop-up */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    border-radius: 5px;
    font-size: larger;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: #f00;
}

.popup-content a {
    color: #333;
    text-decoration: none;
}

.popup-content a:hover {
    text-decoration: underline;
}

/* shop */
.shop-pr {
    padding-block: 80px;
}

.shop-banner {
    padding-block: 90px;
    margin-top: 55px;
    background-image: url(https://img.freepik.com/free-photo/cool-woman-with-longboard_53876-64866.jpg?size=626&ext=jpg&ga=GA1.2.1999495773.1680884673&semt=ais);
    background-repeat: no-repeat;
    background-position: center;
}

.buttons-next {
    text-align: center;
    gap: 10px;
    justify-content: center;
    padding-top: 80px;
}

.buttons-next .primary-btn {
    background-color: #03cd82;
    padding-inline: 16px;
}

.buttons-next .primary-btn:hover {
    background-color: #158a5b;
}

/* blog */



/* Style the video: 100% width and height to cover the entire window */
.blog-video {
    position: relative;
    top: 50px;
    overflow: hidden;
}


#myVideo {

    width: 100%;
}

/* Add some content at the bottom of the video/page */
.video-content {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 5px;
    padding-top: 15%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

#blog-detail {
    color: white;
    font-weight: 300;
    margin-block: 30px;
}

.blog-articles {
    margin-block: 140px;
}

.blog-container {

    flex-direction: column;
    gap: 30px;
}

.blog-left {
    width: 50%;
}

.blog-left :hover {
    cursor: pointer;
    box-shadow: 2px 2px 13px;
}

.blog-article {
    padding-block: 40px;
    position: relative;
}

.blog-left img {
    border-radius: 16px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.blog-right {
    padding-inline: 30px;
    width: 49%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.blog-right p {
    line-height: 2;
}

.blog-container {
    justify-content: center;

}

.blog-right a {
    position: relative;
    font-weight: 600;
    color: #333;
}

.blog-right a::after {
    content: "";
    width: 40px;
    height: 1px;
    position: absolute;
    top: 12px;
    background-color: #333;
    margin-left: 2px;
    /* left: 0; */
}

.blog-right a:hover {
    color: #158a5b;
}

.blog-right a:hover::after {
    background-color: #158a5b;
}

.blog-article h1 {
    position: absolute;
    top: -9px;
    z-index: -9;
    color: var(--neutral-color-3);
}

/* contact */


.contact-list {
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 25px;
}

.contact-list>li>a>i {

    background-color: #005AFF;
    padding: 6px;
    color: white;
    width: 30px;
    border-radius: 6px;

}


.contact-list>li>a {
    position: relative;
}

.contact-list>li>a:hover::after {

    content: "";
    animation: width 0.5s ease-in-out;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
}

.l-contact {
    width: 30%;
}

.r-contact {
    width: 70%;
}

.r-contact iframe {
    width: 100%;
}

.contact-banner {
    margin-top: 56px;
    background-image: url(https://img.freepik.com/free-photo/3d-rendering-luxury-scandinavian-wood-walk-closet-with-wardrobe-make-up-table_105762-2147.jpg?size=626&ext=jpg);
    background-position: center;

}
.contact-form{
    margin-block: 20px;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.contact-form-section{
    padding-top: 30px;
    text-align: center;
}
.contact-form input, .contact-form textarea{
    width: 80%;
    height: 2rem;
    padding-inline: 10px;
    border-radius: 6px;
    border: none;
    resize: none;
}
.contact-form textarea{
    height: 4rem;
    padding-top: 1rem;
}
.send-btn:hover{
background-color: #b03131;
}

/* cart */
.cart-img{
    width: 130px;
}
 .container-cart{
    padding-block: 20px;
    justify-content: center;
gap: 20px;}
.cart-quantity{
    width: 40px;
}
.total{
    justify-content:center ;

}
.cart-section{
    padding-block: 120px;
}
.cart-section h2{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 3px;
}
body,header{
    position: relative;
}
.cart-section{
    scrollbar-gutter:initial;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    /* display: none; */
    background-color:#fff;
    
    transition: all 0.25s ease-in-out;
}
.cart-section.cart-active{
    scrollbar-width: 0px;
    top: 0;
    left: 0;
    /* display: block; */
    overflow: scroll;
}.cart-section.cart-active::-webkit-scrollbar {
    width: 0; /* Set the width of the scrollbar to zero */
    background: transparent; /* Make the background of the scrollbar transparent */
  }
  
  /* Mozilla Firefox */
  .cart-section.cart-active {
    scrollbar-width: none; /* Hide the scrollbar in Firefox */
  }
.container-cart{
    background-color: #e0e0e0;
    border-radius: 6px;
    margin-inline: 40px;
    margin-bottom: 10px;
}
.buttons-in-cart{
    display: block;
    margin-left: 20px;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.cart-button-active.active2{
    color: var(--accent-color-1)
}